@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');

.header {
  font-family: 'Changa One', cursive;
  color: black;
  box-sizing: border-box;
  background: #00ced1;
  padding: 0 35px;
  height: 100px;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.header ul {
  display: flex;
  align-items: center;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.titulo1 {
  padding-top: 2rem;
  position: relative;
  left: 0;
}

/* .titulo2 {
  padding-top: 2rem;
  padding-right: 4rem;
  position: absolute;
  right: 0;
} */

.link {
  display: block;
  text-decoration: none;
  color: black;
  border-radius: 4px;
  font-size: 42px;
  font-family: 'Changa One', cursive;
}

.active,
.link:hover {
  color: #fff;
}
