@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Open+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Courgette&family=Open+Sans:wght@800&display=swap');

.produto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  max-width: 80rem;
  margin: 0 auto;
}

.produto img {
  margin-bottom: 2rem;
}

.titulo {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  line-height: 1.2;
}

.preco {
  padding: 0.5rem;
  background: #91fb5d;
  color: #017e01;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  border-radius: 4px;
}

.descricao {
  font-family: 'Cinzel', serif;
  font-size: 30px;
  line-height: 1.2;
}
