@import url('https://fonts.googleapis.com/css2?family=Caladea:wght@700&display=swap');

.sobre {
  display: block;
  gap: 10rem;
  max-width: 60rem;
  margin: 10rem auto;
}

.sobre h1 {
  font-size: 35px;
  font-family: 'Caladea', serif;
}

.sobre p {
  font-size: 35px;
  font-family: 'Caladea', serif;
}

.container {
  display: grid;
  width: 700px;
  height: 400px;
  padding: 0 1rem;
  margin: 0 auto;
  margin-bottom: 60px;
}

.card {
  background: #fff;
  width: 700px;
  height: 400px;
  word-break: break-word;
  box-shadow: 0 0 1rem #008b8b;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5rem;
}

.card img {
  width: 250px;
  height: 250px;
}

.content h1 {
  margin-top: 0px;
  font-family: 'Caladea', serif;
  font-size: 2rem;
}

.links {
  padding-right: 2rem;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  font-size: 1.5rem;
}

.links a:hover {
  color: #008b8b;
}

.content p {
  font-family: 'Caladea', serif;
  font-weight: 100;
  font-size: 1.2rem;
}
